ACTION=="remove", GOTO="liskin-trackpoint-end"

SUBSYSTEM=="input", ATTR{name}=="TPPS/2 Synaptics TrackPoint", \
	ATTR{device/sensitivity}="100"

LABEL="liskin-trackpoint-end"
